.home-section {
  margin: 20px;
  background-color: #ffffff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: solid 1px #d4d3d3;
}

.info-section h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.info-section, 
.features-section {
  margin-bottom: 20px; 
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  border: solid 1px #d4d3d3;
}
